[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
aiosqlite = "*"
pydantic = "*"
alembic = "*"
flake8 = "*"
uvicorn = "*"
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
